/** global **/
body {
    margin: 0 !important;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/** header **/
header {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #ff929285;
}
/** header - article **/
header > article {
    flex-grow: 1;
    height: 90px;
}
header > article > img {
    height: 100%;
    width: auto;
    padding-left: 15px;
}
/** header - nav **/
header > nav > ul {
    display: flex;
    padding: 0;
}
header > nav > ul > li > a {
    font-size: 16px;
    padding: 10px 25px;
    color: #2c1b1b;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    border-left: 2px solid #ff4f4f;
}

/** main **/
main {
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
    margin: 100px 0;
}
main > section {
    width: 50%;
}
/** main - section 1 **/
main > section:nth-child(1) {
    border-right: 5px solid #ffffff;
}
main > section:nth-child(1) > article {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
main > section:nth-child(1) > article > img {
    width: auto;
    height: 600px;
}
main > section:nth-child(1) > div {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
}
main > section:nth-child(1) > div > p {
    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
    background-color: #ff4f4f;
    margin-top: 0;
    padding: 10px;
    z-index: 2;
    color: #ffffff;
}
/** main- section 2 **/
main > section:nth-child(2) > div > h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 25px;
}
main > section:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main > section:nth-child(2) > form {
    width: 400px;
    background-color: #ff929285;
    padding: 60px 60px 30px 60px;
    border: 2px dashed #000000;
    border-radius: 5px;
}
main > section:nth-child(2) > form > input, textarea {
    width: 100%;
    border: 2px solid #ff4f4f;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 30px;
}
main > section:nth-child(2) > form > input.basic {
    height: 40px;
}
main > section:nth-child(2) > form > textarea {
    height: 200px;
}
main > section:nth-child(2) > form > input.submit {
    background-color: #ff4f4f;
    color: #ffffff;
    font-size: 22px;
    cursor: pointer;
}

/** footer **/
footer {
    display: flex;
    height: 150px;
    background-color: #2e1818;
}
footer > article {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer > article img {
    width: 40px;
    height: 40px;
}
footer > article a {
    display: inline-block;
    background-color: #ff9292;
    padding: 10px;
    border-radius: 50%;
}

/** bottom to top animation **/
.bottom-top {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}
@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}
@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

/** add when scroll down **/
.scroll-nav {
    position: fixed;
    width: 100%;
    background-color: #ff9292;
    top: 0;
    z-index: 10;
}

/** responsive **/
@media screen and (max-width: 1074px) {
    main {
        flex-direction: column;
    }
    main > section {
        width: 100%;
    }
    main > section:nth-child(1) {
        border-right: none;
        border-bottom: 5px solid #ffffff;
    }
    main > section:nth-child(2) {
        padding: 50px 0 60px;
    }
}
@media screen and (max-width: 724px) {
    header {
        flex-wrap: wrap;
        height: 150px;
        justify-content: center;
    }
}